<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.s23010417.edupathlanka">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EdupathLanka"
        tools:targetApi="31">

        <activity
            android:name=".course_details"
            android:exported="true" />

        <activity
            android:name=".suggest_oopurnities"
            android:exported="false" />
        <activity
            android:name=".vocational_courses"
            android:exported="false" />
        <activity
            android:name=".customize_path"
            android:exported="false" />
        <activity
            android:name=".startExploring"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".location_selection"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FindUniversity"
            android:exported="true" />
        <activity
            android:name=".dashboard"
            android:exported="true" />
        <activity
            android:name=".sign_in"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
